<%= content_for :page_title, "cron checker" %>

<%= render :partial => "form"%>

<p class="intro">
  Unix-y systems use cron to schedule tasks, and sometimes it's hard to remember exactly what the arcane syntax means.
  Submit your cron statement, and we'll explain it in plain English.
</p>

<h3>Some Examples</h3>

<ul>
  <li><%= link_to "0 0 * * * some_report.sh", { :action => "check", :statement => "0 0 * * * some_report.sh" }%></li>
  <li><%= link_to "@reboot cd /my/app && ruby script/server", { :action => "check", :statement => "@reboot cd /my/app && ruby script/server" }%></li>
  <li><%= link_to "0 0 1 */2 * payroll.sh", { :action => "check", :statement => "0 0 1 */2 * payroll.sh" }%></li>
</ul>