!!! 5

%html
  %head
    %title CronChecker
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{name: "google-site-verification", content: "XsTtBFfW_5jcRrEfNL0lHtPU-_qaLzqRvfRrYklrFYw"}

  %body
    = render "shared/header"
    = render "shared/flash"
    = yield
    = render "shared/footer"
